.container{
    height: 100vh;
    display: flex;
    gap: 25px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

[class ^="box-"]{
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    flex: 1;
}

.box-2{
    align-self: center;
    flex: auto;
}

.box-3{
    flex: 0;
}